a:focus {
    outline: none;text-decoration:none;
}
a{
    color:black; text-decoration:none;
}

a:hover{
    color:black; text-decoration:none;
}
a:visited {
    text-decoration: none;
}
a:active{
    color:black;text-decoration:none;
}
.biaoqian {
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    float:left;cursor:default;margin-top:10px;margin-right:10px;
}