<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gs.dao.CarBrandDAO" >
  <resultMap id="carbrandMap" type="carBrand" >
    <id column="brandId" property="brandId" jdbcType="VARCHAR" />
    <result column="brandName" property="brandName" jdbcType="VARCHAR" />
    <result column="brandDes" property="brandDes" jdbcType="VARCHAR" />
    <result column="brandStatus" property="brandStatus" jdbcType="VARCHAR" />
  </resultMap>

  <!--查询所有-->
  <select id="queryAll" resultMap="carbrandMap" parameterType="com.gs.bean.User">
    <![CDATA[
          select * from t_car_brand cb where 1=1 and cb.brandStatus = 'Y'
      ]]>
  </select>

  <!--分页查询所有汽车品牌-->
  <select id="queryByPager" resultMap="carbrandMap" parameterType="com.gs.common.bean.Pager">
    <![CDATA[
       select * from t_car_brand cb  where 1=1 and cb.brandStatus = 'Y'
     ]]>
    limit #{beginIndex}, #{pageSize}
  </select>

  <!--分页查询所有总数-->
  <select id="count" resultType="int" parameterType="com.gs.bean.User">
    <![CDATA[
      select count(brandId) from t_car_brand cb where 1=1 and cb.brandStatus = 'Y'
    ]]>
  </select>

  <!--添加汽车品牌-->
  <insert id="insert"  parameterType="carBrand">
    <![CDATA[
    INSERT into t_car_brand(brandId, brandName, brandDes, brandStatus) values(uuid(), #{brandName}, #{brandDes},'Y')
     ]]>
  </insert>

  <!--修改汽车品牌-->
  <update id="update" parameterType="carBrand">
    <![CDATA[
      update t_car_brand set brandName = #{brandName},brandDes = #{brandDes},brandStatus = 'Y' where brandId = #{brandId}
     ]]>
  </update>

  <!-- 分页查询禁用 -->
  <select id="queryByPagerDisable" resultMap="carbrandMap" parameterType="com.gs.common.bean.Pager">
    <![CDATA[
       select * from t_car_brand cb where cb.brandStatus = 'N'
    ]]>
    limit #{beginIndex}, #{pageSize}
  </select>
  <!-- 分页查询禁用个数 -->
  <select id="countByDisable" resultType="int" parameterType="com.gs.bean.User">
    <![CDATA[
      select count(brandId) from t_car_brand cb where cb.brandStatus = 'N'
    ]]>
  </select>

  <!--  查询此品牌名称是否已存在此品牌名称 -->
  <select id="querybrandName" resultType="int">
    <![CDATA[
      select count(brandName) from t_car_brand where brandName = #{brandName}
    ]]>
    <if test="brandId != null and brandId != ''">
      and brandId != #{brandId}
    </if>
  </select>

  <!--冻结数据-->
  <update id="inactive" keyProperty="brandId" parameterType="carBrand">
    <![CDATA[
         update t_car_brand set brandStatus = 'N' where brandId = #{brandId}
        ]]>
  </update>

  <!--激活数据-->
  <update id="active" keyProperty="brandId" parameterType="carBrand">
    <![CDATA[
        update t_car_brand set brandStatus = 'Y' where brandId = #{brandId}
        ]]>
  </update>

<!--迷糊索搜-->
  <select id="blurredQuery" resultMap="carbrandMap"  parameterType="com.gs.common.bean.Pager">
    <![CDATA[
            select cb.* from t_car_brand cb  where 1=1
       ]]>
    and(
    <if test="carBrand.brandName != '' and carBrand.brandName != null">
      cb.brandName like '%${carBrand.brandName}%'
    </if>
    <if test="carBrand.brandName != '' and carBrand.brandName != null and carBrand.brandDes !='' and carBrand.brandDes !=null">
      or
    </if>
    <if test="carBrand.brandDes !='' and carBrand.brandDes !=null">
     cb.brandDes like '%${carBrand.brandDes}%'
    </if>
    )
    limit #{pager.beginIndex}, #{pager.pageSize}
  </select>

  <select id="countByBlurred" resultType="int">
    <![CDATA[
      select count(*) from t_car_brand cb where 1=1
    ]]>
    and(
    <if test="carBrand.brandName != '' and carBrand.brandName != null">
      cb.brandName like '%${carBrand.brandName}%'
    </if>
    <if test="carBrand.brandName != '' and carBrand.brandName != null and carBrand.brandDes !='' and carBrand.brandDes !=null">
      or
    </if>
    <if test="carBrand.brandDes !='' and carBrand.brandDes !=null">
      cb.brandDes like '%${carBrand.brandDes}%'
    </if>
    )
  </select>


</mapper>