<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gs.dao.MaterialReturnDAO" >
  <resultMap id="BaseResultMap" type="com.gs.bean.MaterialReturn" >
    <id column="materialReturnId" property="materialReturnId" jdbcType="VARCHAR" />
    <result column="matainRecordId" property="matainRecordId" jdbcType="VARCHAR" />
    <result column="count" property="count" />
    <result column="accIdle" property="accIdle" />
    <result column="accId" property="accId" jdbcType="VARCHAR" />
    <result column="accCount" property="accCount" jdbcType="INTEGER" />
    <result column="mrCreatedDate" property="mrCreatedDate" jdbcType="TIMESTAMP" />
    <result column="mrReturnDate" property="mrReturnDate" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <insert id="insert" parameterType="materialReturn">
    insert into t_material_return
      values( #{materialReturnId}, #{matainRecordId}, #{accId}, #{accCount}, #{mrCreatedDate}, #{mrReturnDate});
  </insert>

  <!--库存统计-->
  <select id="queryByCondition" resultMap="BaseResultMap">
    <![CDATA[

select SUM(mr.accCount) as count,a.accIdle as accIdle, mr.mrReturnDate from t_accessories a, t_accessories_type t,t_company c, t_material_return mr
where a.accTypeId = t.accTypeId and a.companyId = c.companyId and a.accStatus = 'Y' and mr.accId = a.accId and
c.companyId = #{companyId} and t.accTypeId = #{accTypeId} and mr.mrReturnDate >= #{start} and mr.mrReturnDate <= #{end}
        ]]>
    <if test="type =='year'">
      group by date_format(mr.mrReturnDate, '%Y') ORDER BY mr.mrReturnDate ASC;
    </if>
    <if test="type =='quarter'">
      group by concat(date_format(mr.mrReturnDate, '%Y'),FLOOR((date_format(mr.mrReturnDate, '%m')+2)/3)) ORDER BY mr.mrReturnDate ASC;
    </if>
    <if test="type =='month'">
      group by date_format(mr.mrReturnDate, '%y-%m') ORDER BY mr.mrReturnDate ASC;
    </if>
    <if test="type =='week'">
      group by date_format(mr.mrReturnDate, '%y-%m') ORDER BY mr.mrReturnDate ASC;
    </if>
    <if test="type =='day'">
      group by date(mr.mrReturnDate) ORDER BY mr.mrReturnDate ASC;
    </if>
  </select>

</mapper>