.clear {
    clear: both;
}
a:focus {
    color:#333; text-decoration:none;
    outline: none;
}
a{
    color:#333; text-decoration:none;
}

a:hover{
    color:#333; text-decoration:none;
}

a:active{
    color:#333; text-decoration:none;
}

.container {
    width:100%;

}
.bootstrap-table {
    width: 100%;
}
.modal-dialog{
    border: 2px;
    height: auto;
    min-height: 350px;
}


.modal-header {
    margin: 10px 15px;
    width: 50%;
    border-bottom:none;
    padding: 0;
}

.input-group{
    margin:15px 25px;
}
.modal-content h3{
    margin-top: 15px;
    margin-bottom:5px;
    margin-left: 15px;
}

.model-content input {
    width:30%;
}

.search-style{
     position: absolute;
     top: 0;
     right: 0;
     z-index: 3;
     display: block;
     width: 34px;
     height: 34px;
     line-height: 34px;
     text-align: center;
 }

.closeModal{
    float:right;
    cursor:hand;
}
